<!DOCTYPE html>
<html class="loading dark-layout" lang="en" data-layout="dark-layout" data-textdirection="ltr"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">

    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Stevedore</title>

    <!--  -->
    <style layout:replace="~{/shared/_style}"></style>

</head>
<body class="vertical-layout vertical-menu-modern  navbar-floating footer-static" data-open="click" data-menu="vertical-menu-modern" data-col="">

    <div layout:replace="~{/shared/layout/_header}"></div>

    <div layout:replace="~{/shared/layout/_menu}"></div>

    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <div layout:fragment="breadcrumb"></div>
            <div class="content-body">
                <div layout:fragment="content"></div>
            </div>
        </div>
    </div>

    <div layout:replace="~{shared/layout/_footer}"></div>

    <div layout:replace="~{shared/_script}"></div>

    <div layout:fragment="script"></div>

    <script>
        $(window).on('load', function() {
            if (feather) {
                feather.replace({
                    width: 14,
                    height: 14
                });
            }
        })
    </script>

</body>
</html>